<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="icon" href="../img/icon.png" sizes="32x32" type="image/png">
    <title>tucabina</title>
</head>
<body>
    <div class="nav">
        <ul>
            <li id="img"><a href="index.html"><img src="../img/icon.png" alt="Icono"></a></li>
            <li id="index"> <a href="../../index.html">Inicio</a></li>
            <li><a href="contact.html">Contacto</a></li>
            <li><a href="events.html">Link de eventos</a></li>
            <li><a href="../views/servicios.html">servicios</a></li>
        </ul>
    </div>