<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../public/img/tucabina.png" type="image/x-icon">
    <link rel="stylesheet" href="../public/styles/styles.css">
    <link rel="stylesheet" href="../public/styles/nav.css">
    <script src="../scripts/text.js"></script>
    <title>Tucabina</title>
</head>

<body>
    <div class="nav">

        <ul>

            <li><a href="../views/contactanos.html">contactanos</a></li>
            <li><a href="../views/ads.html">acerca del servicio</a></li>
            <li><a href="../views/lks.html">links de eventos</a> </li>
            <li><a href="../views/index.html">inico</a></li>
            <li><a href="../views/index.html"><img src="../public/img/tucabina.png" alt=""></a></li>
        </ul>

    </div>

    <div class="foto-texto">
        <img src="../public/img/tucabina.png" alt="">
        <h1>Bienvenido a tu cabina preferida</h1>
    </div>

    <div class="eventos">
        <h1>Links de nuestros eventos proximos</h1>
        <p> Aquí encontraran los sitios donde publicamos las fotos y los videos de cada evento. Tengan en cuenta que se
            van modificando por lo que eventos anteriores quedan archivados. Si desea el link de un evento pasados puede
            comunicarse al 095030238 y a la brevedad se le responderá.</p>
            <div class="LE">

            </div>
    </div>
<div class="Txt">
    <h1>Quienes somos...</h1>
    <p> Somos una empresa dedicada a brindar excelencia en servicios de cabinas fotográficas en fiestas infantiles, casamientos, cumpleaños de 15, eventos empresariales y todo tipo de festejos.
        3 tipos de cabinas!! 
        <br>
        -Nos encargamos del traslado, instalación, y desarmado de los equipos de manera rápida y eficaz.
         <br>
        -Contamos con personal idóneo para atender a los invitados durante el transcurso de la fiesta.
         <br>
        -Nos adecuamos a las fechas y horarios del cliente con total disponibilidad. 
        <br>
        -Viajamos a todo el país. <br>
        -Evaluamos las horas de servicio en función de sus necesidades: cantidad de invitados, tipo de evento, etc. 
        <br>
        -Ofrecemos una cantidad de fotos ilimitadas, las cuales son generadas e impresas en segundos. 
        <br>
        -El homenajead@ recibe una copia de todas las fotografías en un pendrive. 
        <br><br>
        
        Contamos con equipos profesiones que aseguran la mejor calidad de imagen.
         <br>
        Impresoras térmicas con calidad de laboratorio fotográfico, imprimen en segundos y aseguran durabilidad a las fotos con el paso del tiempo. 
        <br>
        Cabinas inflables led con diferentes luces de colores. Se adapta tanto a espacios cerrados como aire libre. 
        <br>
        <br>
        Las tiras fotográfica son personalizadas; tenemos diversidad de formatos, colores, formas, disposición de imágenes, fondos personalizados, así como la posibilidad de agregarles textos, logos o lo que elijas.
        <br>
        Se entregan 2 tiras a cada persona o grupo que ingrese a la cabina. O en su defecto, se puede dejar una como recuerdo en el libro fotográfico.
        
        Y sumamos la plataforma 360º!!!</p>
</div>

</body>
</html>