<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../public/img/tucabina.png" type="image/x-icon">
    <link rel="stylesheet" href="../public/styles/styles.css">
    <link rel="stylesheet" href="../public/styles/nav.css">
    <script src="../scripts/text.js"></script>
    <title>Tucabina</title>
</head>

<body>
    <div class="nav">

        <ul>

            <li><a href="../views/contactanos.html">contactanos</a></li>
            <li><a href="../views/ads.html">acerca del servicio</a></li>
            <li><a href="../views/lks.html">links de eventos</a> </li>
            <li><a href="../views/index.html">inico</a></li>
            <li><a href="../views/index.html"><img src="../public/img/tucabina.png" alt=""></a></li>
        </ul>

    </div>

    <div class="foto-texto">
        <img src="/public/img/tucabina.png" alt="">
        <h1>Bienvenido a tu cabina preferida</h1>
    </div>

</body>

</html>